* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.lil-gui {
    --background-color: #f6f6f6;
    --text-color: #3d3d3d;
    --title-background-color: #efefef;
    --title-text-color: #3d3d3d;
    --widget-color: #eaeaea;
    --hover-color: #f0f0f0;
    --focus-color: #fafafa;
    --number-color: #07aacf;
    --string-color: #8da300;
    --widget-height: 2em;
    font-size: 2em;
    padding-top: 1em;
    padding-right: 0em;
    margin-right: 0em;


}

.lil-gui.root {
    height: 100%;
    padding-top: 1em;
    padding-right: 0em;
    margin-right: 0em;
    width: 10em;
}

.lil-gui.autoPlace {
    max-height: 100%;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 1001;

}

.lil-gui,
.lil-gui * {
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-right: 0.1em;
    padding: 0;
}

.lil-gui .controller {
    display: flex;
    align-items: center;
    padding-top: 0.5em;
    margin: var(--spacing) 0;
}
.lil-gui .controller.color .display {
    FONT-WEIGHT: 500;
    width: 50%;
    height: 2em;
    border-radius: 0.8em;
    position: static;
}